<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <i class="ti-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
      <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Widgets</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : accordions.isActive || buttons.isActive || badges.isActive || breadcrumbs.isActive || dropdowns.isActive || modals.isActive || progressbar.isActive || pagination.isActive || tabs.isActive || typography.isActive || tooltips.isActive }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <i class="ti-palette menu-icon"></i>
        <span class="menu-title">UI Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/accordions" routerLinkActive="active" #accordions="routerLinkActive">Accordions</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/buttons" routerLinkActive="active" #buttons="routerLinkActive">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/badges" routerLinkActive="active" #badges="routerLinkActive">Badges</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active" #breadcrumbs="routerLinkActive">Breadcrumbs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active" #dropdowns="routerLinkActive">Dropdowns</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/modals" routerLinkActive="active" #modals="routerLinkActive">Modals</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/progressbar" routerLinkActive="active" #progressbar="routerLinkActive">Progress bar</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/pagination" routerLinkActive="active" #pagination="routerLinkActive">Pagination</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/tabs" routerLinkActive="active" #tabs="routerLinkActive">Tabs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/typography" routerLinkActive="active" #typography="routerLinkActive">Typography</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/tooltips" routerLinkActive="active" #tooltips="routerLinkActive">Tooltips</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : dragula.isActive || clipboard.isActive || contextMenu.isActive || slider.isActive || carousel.isActive || loaders.isActive }">
      <a class="nav-link" (click)="uiAdvancedCollapsed = !uiAdvancedCollapsed" [attr.aria-expanded]="uiAdvancedCollapsed" aria-controls="ui-advanced">
        <i class="ti-view-list menu-icon"></i>
        <span class="menu-title">Advanced UI</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-advanced" [ngbCollapse]="!uiAdvancedCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="dragula" routerLinkActive="active" #dragula="routerLinkActive">Dragula</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="clipboard" routerLinkActive="active" #clipboard="routerLinkActive">Clipboard</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="context-menu" routerLinkActive="active" #contextMenu="routerLinkActive">Context menu</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="slider" routerLinkActive="active" #slider="routerLinkActive">Sliders</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="carousel" routerLinkActive="active" #carousel="routerLinkActive">Carousel</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="loaders" routerLinkActive="active" #loaders="routerLinkActive">Loaders</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : basicElements.isActive || advancedElements.isActive || validation.isActive || wizard.isActive }">
      <a class="nav-link" (click)="formsCollapsed = !formsCollapsed" [attr.aria-expanded]="formsCollapsed" aria-controls="form-elements">
        <i class="ti-clipboard menu-icon"></i>
        <span class="menu-title">Form elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements" [ngbCollapse]="!formsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="basic-elements" routerLinkActive="active" #basicElements="routerLinkActive">Basic Elements</a></li>                
          <li class="nav-item"><a class="nav-link" routerLink="advanced-elements" routerLinkActive="active" #advancedElements="routerLinkActive">Advanced Elements</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="validation" routerLinkActive="active" #validation="routerLinkActive">Validation</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="wizard" routerLinkActive="active" #wizard="routerLinkActive">Wizard</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : textEditor.isActive || codeEditor.isActive }">
      <a class="nav-link" (click)="editorsCollapsed = !editorsCollapsed" [attr.aria-expanded]="editorsCollapsed" aria-controls="editors">
        <i class="ti-eraser menu-icon"></i>
        <span class="menu-title">Editors</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="editors" [ngbCollapse]="!editorsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="text-editor" routerLinkActive="active" #textEditor="routerLinkActive">Text editors</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="code-editor" routerLinkActive="active" #codeEditor="routerLinkActive">Code editors</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : chartjs.isActive || morris.isActive || chartist.isActive }">
      <a class="nav-link" (click)="chartsCollapsed = !chartsCollapsed" [attr.aria-expanded]="chartsCollapsed" aria-controls="charts">
        <i class="ti-bar-chart-alt menu-icon"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts" [ngbCollapse]="!chartsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="chartjs" routerLinkActive="active" #chartjs="routerLinkActive">ChartJs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="morris" routerLinkActive="active" #morris="routerLinkActive">Morris</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="chartist" routerLinkActive="active" #chartist="routerLinkActive">Chartists</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : basicTable.isActive || dataTable.isActive }">
      <a class="nav-link" (click)="tablesCollapsed = !tablesCollapsed" [attr.aria-expanded]="tablesCollapsed" aria-controls="tables">
        <i class="ti-layout menu-icon"></i>
        <span class="menu-title">Tables</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables" [ngbCollapse]="!tablesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="basic-table" routerLinkActive="active" #basicTable="routerLinkActive">Basic table</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="data-table" routerLinkActive="active" #dataTable="routerLinkActive">Data table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : popups.isActive }">
      <a class="nav-link" routerLink="popups" routerLinkActive #popups="routerLinkActive">
        <i class="ti-export menu-icon"></i>
        <span class="menu-title">Popups</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : notifications.isActive }">
      <a class="nav-link" routerLink="notifications" routerLinkActive #notifications="routerLinkActive">
        <i class="ti-bell menu-icon"></i>
        <span class="menu-title">Notifications</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]=" { 'active' : flagIcons.isActive || mdi.isActive || fontAwesome.isActive || simpleLineIcons.isActive || themify.isActive }">
      <a class="nav-link" (click)="iconsCollapsed = !iconsCollapsed"  [attr.aria-expanded]="iconsCollapsed" aria-controls="icons">
        <i class="ti-face-smile menu-icon"></i>
        <span class="menu-title">Icons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons" [ngbCollapse]="!iconsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="flag-icons" routerLinkActive="active" #flagIcons="routerLinkActive">Flag icons</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="mdi" routerLinkActive="active" #mdi="routerLinkActive">Mdi icons</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="font-awesome" routerLinkActive="active" #fontAwesome="routerLinkActive">Font Awesome</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="simple-line-icons" routerLinkActive="active" #simpleLineIcons="routerLinkActive">Simple line icons</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="themify" routerLinkActive="active" #themify="routerLinkActive">Themify icons</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : googleMaps.isActive }">
      <a class="nav-link" (click)="mapsCollapsed = !mapsCollapsed" [attr.aria-expanded]="mapsCollapsed" aria-controls="maps">
        <i class="ti-map menu-icon"></i>
        <span class="menu-title">Maps</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="maps" [ngbCollapse]="!mapsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="google-map" routerLinkActive="active" #googleMaps="routerLinkActive">Google Map</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : login.isActive || login2.isActive || register.isActive || register2.isActive || lockScreen.isActive }">
      <a class="nav-link" (click)="userPagesCollapsed = !userPagesCollapsed"  [attr.aria-expanded]="userPagesCollapsed" aria-controls="auth">
        <i class="ti-layers-alt menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!userPagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="login" routerLinkActive="active" #login="routerLinkActive"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="login-2" routerLinkActive="active" #login2="routerLinkActive"> Login 2 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="register" routerLinkActive="active" #register="routerLinkActive"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="register-2" routerLinkActive="active" #register2="routerLinkActive"> Register 2 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="lock-screen" routerLinkActive="active" #lockScreen="routerLinkActive"> Lockscreen </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : error404.isActive || error500.isActive }">
      <a class="nav-link" (click)="errorCollapsed = !errorCollapsed"  [attr.aria-expanded]="errorCollapsed" aria-controls="error">
        <i class="ti-help-alt menu-icon"></i>
        <span class="menu-title">Error pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error" [ngbCollapse]="!errorCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="error-404" routerLinkActive="active" #error404="routerLinkActive"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-500" routerLinkActive="active" #error500="routerLinkActive"> 500 </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : blankPage.isActive || profile.isActive || faq.isActive || faq2.isActive || newsGrid.isActive || timeline.isActive || searchResult.isActive || portfolio.isActive }">
      <a class="nav-link" (click)="generalPagesCollapsed = !generalPagesCollapsed" [attr.aria-expanded]="generalPagesCollapsed" aria-controls="general-pages">
        <i class="ti-layers menu-icon"></i>
        <span class="menu-title">General Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="general-pages" [ngbCollapse]="!generalPagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="blank-page" routerLinkActive="active" #blankPage="routerLinkActive"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="profile" routerLinkActive="active" #profile="routerLinkActive"> Profile </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="faq" routerLinkActive="active" #faq="routerLinkActive"> FAQ </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="faq-2" routerLinkActive="active" #faq2="routerLinkActive"> FAQ 2 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="news-grid" routerLinkActive="active" #newsGrid="routerLinkActive"> News grid </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="timeline" routerLinkActive="active" #timeline="routerLinkActive"> Timeline </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="search-results" routerLinkActive="active" #searchResult="routerLinkActive"> Search Results </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="portfolio" routerLinkActive="active" #portfolio="routerLinkActive"> Portfolio </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : invoice.isActive || pricing.isActive || orders.isActive }">
      <a class="nav-link" (click)="eCommerceCollapsed = !eCommerceCollapsed" [attr.aria-expanded]="eCommerceCollapsed" aria-controls="e-commerce">
        <i class="ti-shopping-cart menu-icon"></i>
        <span class="menu-title">E-commerce</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="e-commerce" [ngbCollapse]="!eCommerceCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="invoice" routerLinkActive="active" #invoice="routerLinkActive"> Invoice </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="pricing" routerLinkActive="active" #pricing="routerLinkActive"> Pricing Table </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="orders" routerLinkActive="active" #orders="routerLinkActive"> Orders </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : email.isActive }">
      <a class="nav-link" routerLink="email" routerLinkActive #email="routerLinkActive">
        <i class="ti-email menu-icon"></i>
        <span class="menu-title">E-mail</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : calendar.isActive }">
      <a class="nav-link" routerLink="calendar" routerLinkActive #calendar="routerLinkActive">
        <i class="ti-calendar menu-icon"></i>
        <span class="menu-title">Calendar</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : todoList.isActive }">
      <a class="nav-link" routerLink="todo-list" routerLinkActive #todoList="routerLinkActive">
        <i class="ti-check-box menu-icon"></i>
        <span class="menu-title">Todo List</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : documentation.isActive }">
      <a class="nav-link" routerLink="documentation" routerLinkActive #documentation="routerLinkActive">
        <i class="ti-write menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>